<% @page_title = "Schrijf je in" %>
<%= render 'page_header' %>

<section class='subscribePage'>
  <div class='container'>

    <h1 class='subscribePage__heading'><%= t('themes.default.subscribe.title', :default => 'Subscribe for updates') %></h1>
    <p class='subscribePage__info'><%= t('themes.default.subscribe.intro', :default => " ") %></p>

    <div class='subscribePage__box'>
      <h3 class='subscribePage__subHeading'>xxx</h3>
      <p class='subscribePage__subInfo'>Vul je e-mailadres in en ontvang een bericht bij het wijzigen van de status van één van onze services
        </p>
      <%= form_tag '/subscribe/email' do %>
        <div class='inputWithSubmit'>
          <div class='inputWithSubmit__input'>
            <input type='email' name='email_address' placeholder='E-mailadres' class='subscribePage__input' autofocus />
          </div>
          <div class='inputWithSubmit__submit'>
            <button class='pushButton'>Inschrijven</button>
          </div>
        </div>


      <% end %>
    </div>

  </div>
</section>
