<% @page_title = "Bevestiging" %>
<%= render 'page_header' %>

<section classs='subscriberVerification'>
  <div class='container'>
    <h2 class='subscriberVerification__title'>Bedankt, je inschrijving is in orde!</h2>
    <p class='subscriberVerification__intro'>
      Vanaf nu ontvang je per mail statusupdates wanneer we een nieuw issue of onderhoudssessie melden.
      De notificaties worden verzonden naar <b><%= @subscriber.email_address %></b>.
      Je kan je steeds uitschrijven door te klikken op de link die je vindt in ieder bericht. 
    </p>
    <p class='subscriberVerification__back'>
      <a href='/'>Terug naar het overzicht</a>.
    </p>
  </div>
</section>
